body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 120px 0;
}
.transform {
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Header  navigarion */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.flex-container {
  display: flex;
  align-items: center;
}
.flex-container ul {
  display: flex;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.navigation-logo-header {
  color: #2e2f42;
}
.header-navigation-list {
  gap: 40px;
  padding: 24px 0;
}
.header-nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  padding: 24px 0;

  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}
.active {
  position: relative;
}
.header-nav-btn.current::after,
.header-nav-btn:hover::after,
.header-nav-btn:focus::after,
.header-nav-btn:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-btn:hover,
.header-nav-btn:focus,
.header-nav-btn:active {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
  gap: 40px;
  padding: 24px 0;
}
.address-nav {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav:hover,
.address-nav:focus {
  color: #404bbf;
}
/* Main */
/* Section Hero */
.hero-banner {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-images.jpg);
  background-color: #2f303a66;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;

  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  padding: 16px 32px;

  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* section feature */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-lists {
  display: flex;
  gap: 24px;
}
.feature-list-about {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.feature-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.feature-icon-group {
  display: block;
}

/* section team */
.section-team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 24px;
}
.team-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-img {
  padding: 32px 0;
}
.team-members-names {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-members-positions {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icon-social {
  fill: #f4f4fd;
}
.link-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon,
.link-icon-footer {
  border-radius: 50%;
  background-color: #4d5ae5;
}
.gap {
  gap: 16px;
}
.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}
.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon,
.link-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* Section Our Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.tumb {
  position: relative;
  overflow: hidden;
}

.checkbox-active .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  opacity: 0.9;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-about {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-about:hover .overlay {
  transform: translateY(0);
}
.portfolio-list-about:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-box {
  position: relative;
  overflow: hidden;
}
.portfolio-card-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.under-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-top: -5px;
  padding: 32px 16px;
}
.portfolio-card-img:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 72px;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-about-app {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
/* Foter----------- */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.navigation-logo-footer {
  color: #f4f4fd;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;

  display: inline-block;
}
.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}
.footer-icon-description {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icon-box {
  margin-right: 80px;
}
.footer-subscribe {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border: none;
  background-color: #4d5ae5;
}
.footer-btn-svg {
  margin-left: 16px;
}
.footer-subscribe-button svg {
  fill: #fff;
}
/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
/*  Modal form */

.close-modal-btn {
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  fill: currentColor;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.close-modal-btn:hover,
.close-modal-btn:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.close-modal-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pop-up-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}
.pop-up-field {
  margin-bottom: 8px;
}
.pop-up-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
  margin-bottom: 4px;
}

.pop-up-case {
  position: relative;
  margin-bottom: 8px;
}
.pop-up-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: transparent;
}
.pop-up-input:focus {
  border-color: #4d5ae5;
}
.pop-up-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pop-up-input:focus + .pop-up-svg {
  fill: #4d5ae5;
}
.pop-up-coment-box {
  margin-bottom: 16px;
}
.pop-up-coment {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;

  color: rgba(46, 47, 66, 0.4);
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-coment:focus {
  border-color: #4d5ae5;
}
.subscription-link {
  text-decoration: underline;
  color: #4d5ae5;
  margin-left: 3px;
}

/* subscription-checkbox */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkbox-border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .subscription-label .checkbox-border {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.subscription-form {
  margin-bottom: 24px;
}
.subscription-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.button-form {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.button-form:hover,
.button-form:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
